# Archivos/Datos de Python
*.pyc
*.pyo
__pycache__/

# Configuración del entorno virtual
venv/
env/
ENV/
.venv/

# Archivos de entorno local
.env
.env.local
.DS_Store

# Bases de datos locales
db.sqlite3

# Archivos generados por Django
/static/
media/

# Archivos de migraciones
*/migrations/

# Archivos de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
